section#contact.main-section
	.section-wrap
		.tb
			.tb-cell
				.smaller.main.container
					.row
						.col-md-12
							.row.section-heading
								.col-md-12
									h1.section-title
										span.letter C
										| Contact US
									.section-icon
										i.zmdi.zmdi-mail-send.zmdi-hc-2x
									//p.sub-title get in touch with us.
							.row.section-content
								.contact-info
									.col-sm-4
										span.icons-wrap.icon-simple-rotate
											i.zmdi.zmdi-smartphone-android
										span.contact-way (00) 123-4567890
									.col-sm-4
										span.icons-wrap.icon-simple-rotate
											i.zmdi.zmdi-email
										span.contact-way email@example.com
									.col-sm-4
										span.icons-wrap.icon-simple-rotate
											i.zmdi.zmdi-pin-drop
										span.contact-way 123 Street, City
								.col-md-12
									form#contact-form
										.row.form-group
											.col-xs-6
												input#contact-name.form-control.input-lg.shadow(type='text', name='name', placeholder='name')
											.col-xs-6
												input#contact-email.form-control.input-lg.shadow(type='text', name='email', placeholder='e-mail')
										.row.form-group
											.col-md-12
												textarea#contact-message.form-control.input-lg.shadow(name='message', rows='4', placeholder='message')
										button.btn.btn-block.btn-default.btn-lg.shadow.border(type='submit') Submit
										.contact-notice  
							.row.section-footer
								.col-md-12
									a.btn.btn-theme.btn-lg.shadow.menu-link(href='#intro') back to home