section#intro.main-section.active
	.section-wrap
		.tb
			.tb-cell
				.smaller.main.container
					.row
						.col-md-12
							.row.section-heading
								.col-md-12
									h1.section-title Tiras Tec
									p.sub-title Web development company
							.row.section-content
								.col-md-3.services-grid
									i.icons.zmdi.zmdi-devices.zmdi-hc-2x
									h3 responsive
								.col-md-3.services-grid
									i.icons.zmdi.zmdi-edit.zmdi-hc-2x
									h3 clean code
								.col-md-3.services-grid
									i.icons.zmdi.zmdi-wrench.zmdi-hc-2x
									h3 customize
								.col-md-3.services-grid
									i.icons.zmdi.zmdi-comment-edit.zmdi-hc-2x
									h3 support
							.row.section-footer
								.col-md-12
									a.btn.btn-theme.btn-lg.shadow.menu-link(href='#services') our services

