section#portfolio.main-section
	.section-wrap
		.tb
			.tb-cell
				.container
					.row
						.col-md-12
							.row.section-content
								.portfolio-wrapper
									ul.portfolio.list-none
										li#portfolio1
											.portfolio-half.image(style='background-image: url(img/img-1.jpg);')
											.portfolio-half.content
												div
													h2.portfolio-title Pointy Slider
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae.
										li#portfolio2
											.portfolio-half.image(style='background-image: url(img/img-2.jpg);')
											.portfolio-half.content.light-bg
												div
													h2.portfolio-title Slide Number 2
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
										li#portfolio3
											.portfolio-half.image(style='background-image: url(img/img-3.jpg);')
											.portfolio-half.content
												div
													h2.portfolio-title Slide Number 3
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
										li#portfolio4
											.portfolio-half.image(style='background-image: url(img/img-4.jpg);')
											.portfolio-half.content
												div
													h2.portfolio-title Slide Number 4
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
										li#portfolio5
											.portfolio-half.image(style='background-image: url(img/html5-video-mobile.jpg);')
											.portfolio-half.content
												div
													h2.portfolio-title Slide Number 5
													p
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
								.portfolio-navigation-wrap
									a.portfolio-nav-arr.prev.notransition(href="#")
										i.zmdi.zmdi-chevron-left
									a.portfolio-nav-arr.next.notransition(href="#")
										i.zmdi.zmdi-chevron-right
									ul.portfolio-navigation.list-none(style="transform: translateX(0);")
										li
											a(href="#" data-portfolio='portfolio1') uPages
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
										li
											a(href="#" data-portfolio='portfolio5') Saga
										li
											a(href="#" data-portfolio='portfolio2') uHome
										li
											a(href="#" data-portfolio='portfolio3') uHelpers
										li
											a(href="#" data-portfolio='portfolio4') Kulyk
								ul.portfolio-arrows.list-none.clearfix
									li.portfolio-left-arr
										i.zmdi.zmdi-long-arrow-left.zmdi-hc-2x
									li.portfolio-right-arr
										i.zmdi.zmdi-long-arrow-right.zmdi-hc-2x
							.row.section-footer
								.col-md-12
									a.btn.btn-theme.btn-lg.shadow.menu-link(href='#contact') contact us