header.site-header
	.container
		.row
			.col-md-12
				a.logo-wrap.menu-link(href='#intro')
					svg.logo(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 172.5 301.86142')
						path.intro-logo-path(d='M79.64 295.88l-5.89-5.98v-52.38l-17.5 17.466-17.5 17.467v-33.74l23.75-23.726 23.75-23.726 23.125 23.1 23.125 23.1v32.495l-16.875-16.84-16.875-16.84v53.808l-5.98 5.89c-3.29 3.24-6.264 5.89-6.61 5.89-.346 0-3.28-2.69-6.52-5.98zM.054 231.5l.052-17.764 5.885-5.656c3.24-3.112 22.627-22.228 43.085-42.48l37.197-36.826 30.615 30.597 30.615 30.6v-27.5l-30.626-30.606-30.627-30.606-43.124 43.11L0 187.474V86.224L43.125 43.11 86.25 0l43.125 43.11L172.5 86.224v32.5l-43.124-43.11-43.123-43.11L55.626 63.11 25 93.717v35L55.626 98.11l30.627-30.607 43.123 43.11 43.124 43.11v95l-43.186-43.118-43.186-43.12-43.064 43.388L0 249.263l.053-17.76z')
					span.logo-title Tiras Tec
				.menu-toggle-wrap
					a.menu-toggle.icon-simple-rotate.bh(href='#')
						i.zmdi.zmdi-menu.icon-open
						i.zmdi.zmdi-close.icon-close