nav#menu-wrap
	.menu-inner.bh
		ul#menu.list-none
			li
				a.menu-link(href='#intro') intro
			li
				a.menu-link(href='#services') services
			li
				a.menu-link(href='#portfolio') portfolio
			li
				a.menu-link(href='#contact') contact

